@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.locatairePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.locataireListPage{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.locataireList-affichage{
    background-color: #d6cfcf;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: solid 2px #0D6EFD;
}

.locataireList-affichage ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-weight: bold;
    margin-right: 60px;
}

.hr-pageLocataire{
    border: 1px;
}

.ajouter{
    border-radius: 30px;
    width: 200px;
    border: none;
    background-color: #0D6EFD;
    color: white;
    margin-bottom: 20px;
    height: 45px;
}
